// MAIN COLORS
$color-primary: #B71C1C;
$color-secondary: #7F1215;

// MONOCHROMES
$color-black: #333333;
$color-grey-darker: #9B9B9B;
$color-grey-dark: #DDDDDD;
$color-grey-medium: #ECEEEF;
$color-grey-light: #F5F5F5;
$color-grey-lighter: #F9FAFC;

// SECONDARY COLORS
$color-blue: #4285F4;
$color-blue-light: #3FC2F8;
$color-blue-dark: #00299A;
$color-red: #FF0000;
$color-orange: #FF8D1A;
$color-green: #109B00;
$color-green-light: #15CC00;

// FONTS
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// @mixin transform($transforms) {
// 	-webkit-translate: $transforms;
// 	-moz-translate: $transforms;
// 	-ms-translate: $transforms;
// 	translate: $transforms;
// }

// RESPONSIVE BREAKPOINTS 
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-md: 50em; //800px
$bp-sm: 37.5em; //600px;

*,
*::before,
*::after {
  margin: 0;
  padding:0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: $font-secondary;
  color: $color-black;
  font-weight: 100;
  font-size: 14px;
  word-wrap: break-word;
}

.container {
  display: grid;
  background-color: $color-grey-darker;

  // Row Tracks
  grid-template-rows: 6.4rem repeat(2, min-content);

  // Column Tracks
  grid-template-columns: [sidebar-start] 6rem [sidebar-end content-start] 
  minmax(min-content, 1fr) [full-end];

  // @media only screen and (max-width: $bp-large){
  //   grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
  //   grid-template-columns:  [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) 
  //   [center-end] minmax(6rem, 1fr) [full-end];   
  // }

  // @media only screen and (max-width: $bp-md){
  //   grid-template-rows: 6rem calc(100vh - 6rem);
  // }
}