.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;

  display: flex;
  justify-content: center;
}

.nav-btn {
  border: none;

  background-color: #fff;
  height: 4px;
  width: 4rem;
  margin-top: 4rem;

  &::before,
  &::after {
    background-color: #fff;
    height: 4px;
    width: 4rem;
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }
  &::after {
    transform: translateY(1rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    // margin-right: 3rem;
    width: 3rem;
    position: fixed;
    right: 3rem;
    &::before {
      width: 3rem;
      transform: translateY(-1.2rem);
    }
    &::after {
      width: 3rem;
      transform: translateY(1rem);
    }
  }
}

.header {
  grid-column: content-start/-1;
}

.content {
  grid-column: content-start/content-end;
  grid-row: 2/3;

  & .accordion {
    display: block;
    background-color: $color-grey-light;
    color: $color-grey-darker;
    font-style: $font-primary;
    font-weight: 700;
    font-size: 1.8rem;
    cursor: pointer;
    margin-bottom: 8px;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;

    &::after {
      background-color: $color-grey-dark;
      height: 2px;
      margin: 0.8rem 0 0 0;
      content: "";
      display: block;
    }

    & .notif--inline {
      font-size: 1.4rem;
    }
  }
}

.widget {
  grid-column: widget-start/widget-end;
  grid-row: 2/3;

  &__mr {
    background-color: $color-white-true;
    display:block;
    min-height: 25rem;
    max-height: 36rem;
    transform: translateY(16px);
    margin-bottom: 16px;

    &__img {
      background-color: $color-grey-dark;
      transform: translate(8px, -16px);
      
      // @mixin transform($property) {
      //   -webkit-transform: $property;
      //   -ms-transform: $property;
      //   transform: $property;
      // }
      // @include transform(transform(translate(8px, -16px)));
    }

  }
  
  &__importancies{
    background-color: $color-white-true;
    display:block;
    min-height: 25rem;
    max-height: 36rem;
    transform: translateY(16px);
  }
}

.actions {
  background-color: $color-grey-dark;
  grid-column: full-start/full-end;
}

.sdw-sf {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.rds-5 {
  border-radius: 0.5rem;
}
