.heading-2 {
  font-style: $font-primary;
  font-weight: 700;
  font-size: 1.8rem;
}

.heading-3 {
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 700;
}

.heading-5 {
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: 700;
}

.link {
  font-weight: 700;
  color: $color-blue;
  text-decoration-line: none;

  &:hover {
    color: $color-blue-light;
  }
  &:active{
    text-decoration: underline;
  }
}

.btn-1 {
  padding: 0 1rem;
  font-family: $font-primary;
  color: $color-blue;
  font-weight: 700;
  font-size: 1.4rem;
  background: none;
  box-shadow: none;
  border-color: $color-blue;
  border: 1px solid $color-blue;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;

  &__icon{
    // font-size: 3rem;
    // width: 2.4rem;
    // height: 2.4rem;
    margin: 0px;
    vertical-align: middle;
    fill: $color-blue;
    padding: .4rem;

    &:hover{
      fill: white;
    }
  }

  &:hover{
    color: white;
    background-color: $color-blue;
  }

  &:active{
    background-color: $color-blue-light;
  }
}
