.widget {
  display: block;

  .mr {
    background-color: white;
    display: inline-block;
    flex-wrap: wrap;
    min-height: 25rem;
    max-height: 36rem;
    max-width: 27.2rem;
    transform: translateY(1.6rem);
    padding: 0.8rem;
    margin-bottom: 2.6rem;

    &__top {
      display: flex;
      margin-bottom: 0.4rem;

      .patient-img {
        background-color: $color-grey-dark;
        transform: translateY(-2.4rem);
        height: 8rem;
        width: 8rem;

        // @mixin transform($property) {
        //   -webkit-transform: $property;
        //   -ms-transform: $property;
        //   transform: $property;
        // }
        // @include transform(transform(translate(.8rem, -1.6rem)));
      }

      .icon {
        // max-width: 12rem;
        display: grid;
        grid-template-rows: repeat(2, 2.4rem);
        grid-template-columns: repeat(5, 2.4rem);
        column-gap: 1.2rem;
        row-gap: 0.8rem;
        // padding: 0 1.2rem;
        margin-left: 0.8rem;

        &__svg {
          background-color: $color-grey-dark;
          border-radius: 0.3rem;
        }
      }
    }

    &__data {
      transform: translateY(-1.6rem);

      .mr-num {
        font-style: $font-secondary;
        font-size: 1.4rem;
        color: $color-black;
      }

      .mr-name {
        line-height: 2rem;
        margin-bottom: 0.8rem;
      }

      .bio {
        display: grid;
        grid-template-columns: repeat(2, minmax(12rem, 1fr));
        gap: 0.8rem;

        &__title {
          &::after {
            content: ":";
          }
        }
      }

      &::after {
        background-color: $color-grey-dark;
        height: 0.2rem;
        margin: 0.8rem 0 0 0;
        border-radius: 0 0 0.5rem 0.5rem;
        content: "";
        display: block;
      }
    }

    &__bot {
      display: flex;
      justify-content: center;
      margin-top: -0.8rem;
      // transform: translateY(-0.4rem);

      .patient-folder {
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }

  .warning {
    background-color: white;
    display: block;
    min-height: 25rem;
    max-height: 36rem;
    overflow: hidden;

    &__btn {
      background-color: inherit;
      display: flex;
      border-color: none;
      
    }
    
    .tablink {
      margin: 0px;
      width: 100%;
      height: 4rem;
      background-color: white;
      color: $color-black;
      border-color: none;
      cursor: pointer;
      padding: 1rem 2rem;
      margin: 0;
      font-size: 1rem;
      line-height: 1;
      justify-content: center;
      border: none;

      .icon-svg {
        display: inline-flex;
        width: 2.4rem;
        height: 2.4rem;
        color: red;
        // overflow: hidden;

        svg {
          fill: red;
          width: 100%;
          height: 100%;
        }
      }

      &:hover {
        background-color: $color-grey-medium;
      }
      &.active-tab {
        display: block;
        padding: 0px 2rem;
        z-index: 0;
        box-shadow: 0px 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
        color: $color-primary;
        background-color: $color-primary;
        max-height: 0.5rem;
        content: "";

        i {
          transform: translateY(1rem);
        }
      }

      &:first-child {
        border-radius: 0.5rem 0px 0px 0px;
      }
      &:last-child {
        border-radius: 0px 0.5rem 0px 0px;
      }
    }

    & .general {
      z-index: -1;
      display: block;

      box-shadow: 0px 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
      height: 100%;

      .allergy {
        display: block;
        &__data {
          display: grid;
          padding: 0 0.8rem;
          grid-template-columns: 6.4rem 1fr 4.8rem;
          .type {
            font-size: 1.2rem;
          }
          .name {
            font-size: 1.4rem;
            font-weight: 600;
          }
          & .severity {
            font-size: 1.2rem;
            text-align: right;
          }
        }
      }
    }
  }
}
